<h1>All Books</h1>

    <div>
        <% @books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %> by: <%= book.author %>   |   <%= link_to 'Write a Review', new_review_path %></li>
    </div>
<% end %>
