<h1>All Reviews</h1>

    <div>
    <% @reviews.each do |review| %>
    <li><%= review.title %><br>
    User: <%= review.user.username %>     |
    Rating: <%= review.rating %>     |     
    Comments: "<%= review.comment %>"<br>
    </li>
    </div>
<% end %>

<h3>*** Need to figure out how to list only the reviews for a specific book (currently lists all reviews for all books)</h3>